header#main-header{
    width: 100%;
    height: 50px;
    background: coral;
    font-size: 15px;
    font-weight: 200;
    color: hsl(180, 100%, 27%);
    display: flex;
    justify-content: center;
    align-items: center;
}


